<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="../public/img/icon-layers2.png" type="image/x-icon">
    <title>.artStore</title>
</head>
<header>
    <img class="logoIcon" src="../public/img/layers-icon.png" alt="">
    <h2 class="tituloLogo">.artStore</h2>
    <nav>
    <ul class="navMenu">
        <li><a class="navMenuItem" href="#">Home</a></li>
        <li><a class="navMenuItem" href="#">Produtos</a>
            <ul class="navSecMenu">
                <li><a href="#">Camisetas</a></li>
                <li><a href="#">Canecas</a></li>
                <li><a href="#">Almofadas</a></li>
            </ul>
        </li>
            <li><a class="navMenuItem" href="#">Fale Conosco</a></li>
        </li>
    </ul>
</nav>
<div class="search">
    <input type="text" placeholder="Pesquisar..." class="searchInput">
     <a href="#"><img src="../public/img/search.png" alt="" class="searchIcon"></a>
      </div>
         <div class="navItem">
             <a href="#"><img src="../public/img/img-usuario.png" class="navImgUser" alt="img-usuario"></a>
             <a href="#"><img src="../public/img/cart.png" class="navImgCart" alt="img-carrinho"></a>
         </div>
</header>

<body>
    <section class="banner">
                <img src="../public/img/banner3.png" style="width:100%">
     <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
     <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </section>
    <div class="recursos">
        <div class="recurso">
            <img src="../public/img/shipping.png" alt="" class="recursoIcon">
            <span class="recursoTitulo">ENVIO GRÁTIS</span>
            <span class="recursoDesc">Frete grátis para pedidos acima de R$ 100,00.</span>
        </div>
        <div class="recurso">
            <img class="recursoIcon" src="../public/img/gift.png" alt="">
            <span class="recursoTitulo">VALES-PRESENTE</span>
            <span class="recursoDesc">Compre vales-presente e surpreenda com um presente de estampa exclusiva.</span>
        </div>
        <div class="recurso">
            <img class="recursoIcon" src="../public/img/contact.png" alt="">
            <span class="recursoTitulo">FALE CONOSCO</span>
            <span class="recursoDesc">Entre em contato via e-mail ou Telefone.</span>
        </div>
    </div>
    <footer>
        <div class="footerLeft">
            <div class="footerMenu">
                <h1 class="fMenuTitulo">Endereço</h1>
                <ul class="fLista">
                    <li class="fListaItem">Rua São João, 1401 - Centro</li>
                    <li class="fListaItem">São José do Rio Preto - SP</li>
                    <li class="fListaItem">CEP: 15216-000</li>
                </ul>
            </div>
            <div class="footerMenu">
                <h1 class="fMenuTitulo">Sobre Nós</h1>
                <ul class="fLista">
                    <li class="fListaItem">Empresa</li>
                    <li class="fListaItem">Contato</li>
                </ul>
            </div>
            <div class="footerMenu">
                <h1 class="fMenuTitulo">Links Úteis</h1>
                <ul class="fLista">
                    <li class="fListaItem">Suporte</li>
                    <li class="fListaItem">Feedback</li>
                </ul>
            </div>
        </div>
        <div class="footerRight">
            <div class="footerRightMenu">
                <h1 class="fMenuTitulo">Assine a nossa newsletter</h1>
                <div class="fEmail">
                    <input type="text" placeholder="seuemail@email.com" class="fInput">
                    <button class="fButton">Assinar!</button>
                </div>
            </div>
            <div class="footerRightMenu">
                <h1 class="fMenuTitulo">Nossas Redes Sociais</h1>
                <div class="fIcons">
                    <a href="#"><img src="../public/img/facebook.png" alt="" class="fIcon"></a>
                    <a href="#"><img src="../public/img/instagram.png" alt="" class="fIcon"></a>
                </div>
            </div>
        </div>
    </footer>
    <a href="https://api.whatsapp.com/send?phone=5517123456789&text=Gostaria%20de%20falar%20com%20um%20vendedor..%20;D"> <img class="btnWpp"
        src="../public/img/iconWpp.png" alt=""></a>
    <script src="../index.js"></script>
</body>

</html>